<div class="wrapper">
    <nav id="nav">
   <div class="site-title">
   <a href="/"><h1>Blog Ninjas</h1></a>
   <p>A net Ninja Site</p>
   </div>
   
   <ul class="nav-links">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/create">New blog</a></li>
       
   </ul>
   
   </nav>
   <!-- burger menue -->
   <div class="burger">
       <div class="line1"></div>
       <div class="line2"></div>
       <div class="line3"></div>
   </div>