<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs")%>

<body>
  <%-include("./partials/nav.ejs") %>

<div class="blogs-content">
<h1>About</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nemo alias fugit obcaecati corrupti perferendis maxime neque eveniet et suscipit. Optio architecto cum voluptatem explicabo ipsam, mollitia suscipit voluptates nemo error minus nihil blanditiis id ab ad corporis quibusdam. Ipsam sequi fuga perferendis temporibus pariatur modi molestias accusamus, illum iste ipsum id saepe asperiores iure voluptatum ducimus architecto esse facilis molestiae explicabo eos sed veniam qui. Perferendis, reiciendis dolorem quae itaque odit ad sit eum illum eius explicabo consequatur dicta iste nobis ratione aspernatur minima deserunt maxime assumenda perspiciatis natus nulla sint sed nostrum veritatis. Excepturi nihil non eos quis cum.</p>  

</div>

<script src="app.js"></script>
</body>
</html>