<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="I:\programing\node\public/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <nav id="nav">
       <div class="site-title">
       <a href="/"><h1>Blog Ninjas</h1></a>
       <p>A net Ninja Site</p>
       </div>
       
       <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/create">New blog</a></li>
           
       </ul>
       
       </nav>
       <!-- burger menue -->
       <div class="burger">
           <div class="line1"></div>
           <div class="line2"></div>
           <div class="line3"></div>
       </div>

       <div class="blogs-content-create">
<form action="">
    <div class="title">
Blog title:<input type="text"  name="title">
</div>

<div class="snipper">
Blog snippet :<input type="text" name="snippet">

</div>

<div class="body">
<span>Blog body:</span><textarea name="" id="" cols="30" rows="10" name="body"></textarea> 

</div>
<button>Create</button>
</div>



</form>





</body>
</html>