<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Ninja</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
</head>
<body>
   

<div class="wrapper">
 <nav id="nav">
<div class="site-title">
<a href="index.html"><h1>Blog Ninjas</h1></a>
<p>A net Ninja Site</p>
</div>

<ul class="nav-links">
 <li><a href="/">Home</a></li>
 <li><a href="/about">About</a></li>
 <li><a href="/blogs/create">New blog</a></li>
    
</ul>

</nav>
<!-- burger menue -->
<div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
</div>




<div class="blogs-content">
<h1>All bolgs</h1>
 </div>
</div>

<div class="flow"></div>


<script src="app.js"></script>
</body>
</html>